#main-circle-img-anim {
    user-select: none;
    -webkit-user-drag: unset;
    will-change: transform;
    animation: rotate-img-onscroll 3s linear forwards;
    animation-timeline: view(block);
    animation-range: cover 0% cover 100%;
}

@keyframes rotate-img-onscroll {
    from {
        transform: rotate(-60deg);
    }

    to {
        transform: rotate(60deg);
    }
}
.whoarewe{
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 128ms ease, transform 512ms ease;
}
.whoarewe.visible{
    opacity: 1;
    transform: translateX(0%);
}
.whoarewedesc{
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 128ms ease, transform 512ms ease;
}
.whoarewedesc.visible{
    opacity: 1;
    transform: translateX(0%);
}
.meettheteam{
    opacity: 0;
    transform: translateX(50%);
    transition: opacity 128ms ease, transform 512ms ease;
}
.meettheteam.visible{
    opacity: 1;
    transform: translateX(0%);
}