@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Forum';
  src: url('./assets/fonts/Forum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Forum', sans-serif;
}
